* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e1f1f5;
}


/* Main page */

.navbar {
    padding: 0;
    position: fixed;
    width: 100%;
}

.navbar-nav,
li {
    margin-left: 10px;
}

.navbar a {
    color: #e1f1f5;
}

.navbar a:hover {
    color: rgba(67, 157, 171);
}

.container-fluid {
    background-color: rgba(67, 157, 171, 0.5);
    padding: 5px 10px;
}

.reseaux img {
    width: 40px;
    margin-right: 10px;
}

.mon_logo {
    width: 50px;
    margin-left: 10px;
}

.display-5,
.lead {
    color: rgba(67, 157, 171, 0.5);
}

#cadre {
    display: flex;
    width: 80%;
    border-radius: 21px 21px 0 0;
    background-color: rgba(67, 157, 171, 0.5);
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #e1f1f5;
    margin-bottom: 50px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.coordonnees {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: justify;
    color: #e1f1f5;
    height: 250px;
}

.line-horizontale {
    border-top: 2px solid #e1f1f5;
    padding-bottom: 50px;
}

.line-verticale {
    border-right: 2px solid #e1f1f5;
}

.qualites {
    font-size: 1.5rem;
    color: #e1f1f5;
}

.langues {
    font-size: 1.5rem;
    color: #e1f1f5;
}

.outils {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #e1f1f5;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VSC {
    margin-right: 20px;
    width: 40px;
    margin-bottom: 10px;
}

.intellij {
    margin-right: 20px;
    width: 40px;
    margin-bottom: 10px;
}

.adobe {
    margin-right: 20px;
    width: 40px;
    margin-bottom: 10px;
}

.github {
    margin-right: 20px;
    width: 40px;
    margin-bottom: 10px;
}

.gitkraken {
    margin-right: 20px;
    width: 40px;
    margin-bottom: 10px;
}

.noms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.progress {
    margin-bottom: 37px;
    margin-top: 10px;
}

.progress-bar {
    background-color: rgba(67, 157, 171);
}

.hobbies {
    display: flex;
    justify-content: space-around;
    color: #e1f1f5;
    font-size: 1.5rem;
}

.hobbies-rubrique img {
    width: 100px;
    margin-top: 20px;
}


/* Compétences */

.langages {
    display: flex;
    justify-content: center;
    color: #e1f1f5;
    font-size: 1.5rem;
}

.html-css {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50px;
}

.js {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40px;
}

.java {
    margin-right: 20px;
    margin-bottom: 15px;
    width: 40px;
}

.python {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40px;
}

.php {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40px;
}

.frameworks {
    display: flex;
    justify-content: center;
    color: #e1f1f5;
    font-size: 1.5rem;
}

.bootstrap {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40px;
}

.react {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40px;
}

.hibernate {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40px;
}